.roboto-fuente {
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

.bodyindex{
        min-height: 100vh;
        display: grid;
        grid-template-areas: 
        "myheader myheader"
        "mynav mynav"
        "mymain mymain"
        "myfooter myfooter";
        grid-template-rows: 0.2fr 0.04fr auto 150px;
}


header{
    grid-area: myheader;
    background-color: #0077B6;
    color: #F8F9FA;
}
nav{
    grid-area: mynav;
    width: 100%;
    background-color: #343A40;
    color: #F8F9FA;
}

main{
    grid-area: mymain;
    background-color: #F8F9FA;
    color: #0077B6;
   
    
}

.indexmain{
    display: grid;
    grid-template-areas: 
    "mycuerpo myaside"
    ;
    grid-template-columns: 87% 13%;

}
#cuerpo{
    grid-area: mycuerpo;
    display: grid;
    grid-template-areas: 
    "mytitulo2 mytitulo2"
    "mybeneficios myservicios";
    grid-template-rows: 30% 70%;
    grid-template-columns: 50% 50%;
    min-height: 500px;
    justify-items: center;
    align-items: start;
    padding-top: 1%;

}

aside{
    grid-area: myaside;
    background-color: #00A8E8;
    color: #F8F9FA;
    margin: 2%;
    border-radius: 3%;
}
footer{
    grid-area: myfooter;
    background-color: #343A40;
    color: #F8F9FA;
    display: grid;
        grid-template-areas: 
        "direccion direccion"
        "redes redes"
        "derechos derechos"
        ;
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr 1fr 1fr;
        padding: 20px;
        justify-items: start;
        align-items: center;
        height: 100%;
        margin-top: 20px;
    }


body{
    font-size: 18px;
    line-height: 1.6;
}

    /*---------Header----------*/

header{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.logo{
    width: 100%;
    height: auto;
    
}
.titulo{
    font-size: 5rem;
    margin-right: 10%;
    text-align: center;
    font-weight: bold;
    text-shadow: 0px 0px 10px #343A40;
}
/*--------Barra de nav----*/

nav ul{
    list-style: none;
    display: flex;
    flex-direction: row;
}
nav ul a{
    padding: 5px 20px;
    text-decoration: none;
    line-height: 30px;
    color: #F8F9FA;

}
nav ul a.activa {
    background-color: #0077B6; 
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

/*-----Main----*/
   
.titulo2{
    grid-area: mytitulo2;
    background-color: #00A8E8;
    color: #F8F9FA;
    padding: 20px;
    text-align: center;
    width: 90%;
    border-radius: 10px;
}
.servicios{
    grid-area: myservicios;
    background-color: #F8F9FA;
    color: #0077B6;
    padding: 15px;
    width: auto;
    border-radius: 10px;
    word-spacing: 1px;
}
.beneficios{
    grid-area: mybeneficios;
    background-color: #F8F9FA;
    color: #0077B6;
    padding: 15px;
    width: auto;
    border-radius: 10px;
}
.beneficios, .servicios{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}
section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}
h2{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
h3{
    font-size: 16px;
    font-weight: bold;
}
p, li{
    font-size: 14px;
    list-style-type: none;
}
/*------Barra lateral----*/
aside{
   font-size: 16px;
   line-height: 1.3; 
   height: auto;
   padding: 15px;
   list-style: none;
}

/*------footer----*/
.redes{
    grid-area: redes;
    justify-self: center;
}
.redes a{
    text-decoration: none;
}
.direccion{
    grid-area: direccion;
    justify-self: center;

    
}
.direccion p{
    text-align: center;
}
.derechos{
    grid-area: derechos;
    justify-self: center;
    text-align: center;
}
.facebook,.twitter, .instagram{
    width: 40px;
    height: 40px;


}
footer a{
    color: #F8F9FA;
    text-decoration: underline;
}
/*------------------servicios------------------------*/
.bodyservicios {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "myheader"
        "mynav"
        "mainserv"
        "myfooter";
    grid-template-rows: 0.2fr 0.04fr auto 150px;
}

.reparaciones {
    display: grid;
    grid-template-areas:
        "lavadora-contenedor acondicionado-contenedor"
        "vitro-contenedor caldera-contenedor";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 30px;
    padding: 20px;
}

.mainserv {
    grid-area: mainserv;
}

.servicio-contenedor {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 15px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.servicio-contenedor:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.servicio-contenedor img {
    width: 40%;
    height: auto;
    border: #343A40 solid 2px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(52, 58, 64, 0.5);
    margin-right: 20px;
}

.texto-servicio {
    flex: 1;
    padding: 10px;
}

.texto-servicio h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #343A40;
    border-bottom: 2px solid #0077B6;
    padding-bottom: 5px;
}

.texto-servicio p {
    font-size: 14px;
    color: #495057;
    line-height: 1.5;
}

.servicio-contenedor:nth-child(1) {
    grid-area: lavadora-contenedor;
}

.servicio-contenedor:nth-child(2) {
    grid-area: acondicionado-contenedor;
}

.servicio-contenedor:nth-child(3) {
    grid-area: vitro-contenedor;
}

.servicio-contenedor:nth-child(4) {
    grid-area: caldera-contenedor;
}


.lavadora, .acondicionado, .vitro, .caldera {
    width: 100%; 
}

/*------------------presupuesto------------------------*/
.mainpres form{
    display: flex;
    flex-direction: column;
    background: #F8F9FA; 
    border: 2px dotted #0077B6;
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 10px 20px 0px #343A40;
    margin-bottom: 20px;
    

}
.mainpres input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
    display: inline;
}
.mainpres input{
    width: 100%;
    padding: 7px;
    margin: 5px 0;
    border: 1px solid #0077B6; 
    border-radius: 5px;
    background-color: #ffffff; 
    font-family: 'Roboto', sans-serif;
}
.mainpres textarea{
    width: 100%;
    padding: 7px;
    margin: 5px;
    border: 1px solid #0077B6; 
    border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}
.mainpres label {
    font-weight: bold;
    color: #0077B6; 
    margin-top: 10px;
    display: flex;
    align-items: center;
}

    
.mainpres h1{
    margin: 5px;
    padding: 7px;
    
}
.btn-enviar {
    background-color: #0077B6;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 15px;
}
.btn-enviar:hover {
    background-color: #005c8f; /* Azul más oscuro */
}


/*----------------Contacto----------------*/

.contactmain {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}
.map h2{
    font-size: 30px;

}
.map, .datos {
    background-color: #F8F9FA;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mapa {
    width: 100%;
    height: auto;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
    box-shadow: 0px 10px 20px 0px #343A40;
}

.datos2 {
    line-height: 1.6;
}

.datos2 a {
    color: #0077B6;
    text-decoration: underline;
}
