<!DOCTYPE html>
<html lang="es">

<head>
     <!--Configuración básica y metadatos -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="title" content="Martifix | Reparación de Electrodomésticos y Climatización en Zaragoza">
    <meta name="description"
        content="MartiFix ofrece reparación de aires acondicionados, calderas, frigoríficos, vitrocerámicas y más en Zaragoza. Servicio rápido, económico y confiable.">
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="../css/styles.css">
    <title>Martifix</title>
</head>

<body>
    <header>
         <!-- Header con logo y título -->
        <img src="../images/Logo.png" alt="Logo MartiFix reparación de Electrodomésticos y climatización en Zaragoza"
            class="logo">
        <div><h1 class="titulo">MartiFix</h1></div>

    </header>
        <!-- Menú de navegación -->
    <nav>
        <ul>
            <li><a href="../Index.html">Inicio</a></li>
            <li><a href="../views/servicios.html">Servicios</a></li>
            <li><a href="../views/pesupuesto.html">Presupuesto</a></li>
            <li><a href="../views/contacto.html" class="activa">Contacto</a></li>
        </ul>
    </nav>
        <!-- Contenido principal -->
    <main class="contactmain">
        <section class="map">
            <h2>Ubicación</h2>
            <img src="../images/Ubicacion.PNG" alt="Ubicación de Martifix en Zaragoza" class="mapa">
        </section>
        <section class="datos">
            <h2>Contacto</h2>
            <div class="datos2">
                <p><strong>Dirección:</strong> Calle Mayor, 45, 50001 Zaragoza</p>
                <p><strong>Teléfono:</strong> <a href="tel:+34600123456">+34 600 123 456</a></p>
                <p><strong>Email:</strong> <a href="mailto:contacto@martifix.com">contacto@martifix.com</a></p>
            </div>
        </section>
    </main>


    <footer>
        <!-- Redes Sociales -->
        <div class="redes">
            <a href="https://facebook.com/MartifixZaragoza" target="_blank">
                <img class="facebook" src="../images/facebook.ico" alt="Facebook">
            </a> 
            <a href="https://twitter.com/Martifix" target="_blank">
                <img class="twitter" src="../images/twitter.ico" alt="twitter">
            </a> 
            <a href="https://instagram.com/Martifix" target="_blank">
                <img class="instagram" src="../images/instagram.ico" alt="instagram">
            </a> 
        </div>

        <!-- Dirección de la empresa -->
        <div class="direccion">
            <p><strong>Martifix | Reparación de Electrodomésticos y Climatización</strong></p>
            <p>Calle Mayor, 45, 50001 Zaragoza, España</p>
            <p>Teléfono: <a href="tel:+34600123456">+34 600 123 456</a></p>
            <p>Email: <a href="mailto:contacto@martifix.com">contacto@martifix.com</a></p>
        </div>

        <!-- Derechos de Autor -->
        <div class="derechos">
            <p>© 2025 Martifix | Todos los derechos reservados.  | <a href="aviso-legal.html">Aviso Legal</a></p>
        </div>
    </footer>

</body>

</html>